<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="35"
    android:versionName="3.4.2"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.coollang.tennis"
    platformBuildVersionCode="35"
    platformBuildVersionName="3.4.2">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="29"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="false"/>
    <uses-feature
        android:name="android.permission.bluetooth_le"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_logo"
        android:name="com.coollang.tennis.base.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="com.mob.tools.MobUIShell"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <data android:scheme="tencent1105042486"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:authorities="com.coollang.tennis.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.coollang.tennis.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.coollang.tennis.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.UpdateDeviceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.PerfectInformationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.choosephoto.CropImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.choosephoto.ImageChooseActivity_new"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SportTargetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.PersonalSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="com.coollang.tennis.activity.WebVideoPlayActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.SportDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.DataWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.AdvoiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.VideoWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrackModeActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.RecordVideoActivity"
            android:screenOrientation="sensor"/>
        <activity
            android:theme="@android:style/Theme.Black"
            android:name="com.coollang.tennis.activity.VideoCaptureActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="com.coollang.tennis.activity.VideoPlayActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.coollang.tennis.activity.FastUseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.BallStarTeachActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.HeadFastUseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.HeadAboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrainOnTimeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrainHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrainHandReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrainSendReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrainHandInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.TrainSendInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingAddAchieveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingMyEquipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingSelectListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingSelectRacketTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingRollSeletctActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingSelectRacketLineActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingInputActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:theme="@style/person_setting_theme"
            android:name="com.coollang.tennis.activity.SettingPersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingInputCheckActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingRollBirthdayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingTennisLevelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SettingRollMonthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.ShowImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.GetEmailPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.EmailSignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coollang.tennis.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="no.nordicsemi.android.nrftoolbox.dfu.DfuService"
            android:exported="true">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.coollang.tennis.blemanager.RFStarBLEService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.umeng.update.UpdateDialogActivity"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="569dfeec67e58eb7080015eb"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="824af15adbcf7312cb113c0f1288831b"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="yingyongbao"/>
        <activity
            android:name="com.coollang.tennis.activity.Video_detail_Activity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.getSearchKeys_Activity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.coollang.tennis.activity.Video_recording"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.coollang.tennis.activity.DetailCommentActivity"/>
        <activity android:name="com.coollang.tennis.activity.MyVideo_msg_Activity"/>
        <activity android:name="com.coollang.tennis.activity.WebviewActivity"/>
        <activity android:name="com.coollang.tennis.activity.VideoRecorderActivity"/>
        <activity
            android:theme="@style/AppTheme.FullScreen"
            android:name="com.coollang.tennis.activity.PostVideoActivity"/>
        <activity
            android:theme="@style/AppTheme.FullScreen.Translucent"
            android:name="com.coollang.tennis.activity.AndroidRecorder"/>
        <activity android:name="com.coollang.tennis.activity.MyPostVideoActivity"/>
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4"/>
                <category android:name="umeng"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.coollang.tennis.intent.action.COMMAND"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:label="PushService"
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="com.coollang.tennis.intent.action.START"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.coollang.tennis.intent.action.COCKROACH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4"/>
                <category android:name="umeng"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push"/>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false"/>
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false"/>
        <activity
            android:theme="@style/EasyPermissions.Transparent"
            android:label=""
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"/>
        <activity
            android:label="@string/app_name"
            android:name="me.maxwin.XListViewActivity"/>
    </application>
</manifest>
